.green{
  background-color: rgb(0, 128, 117);
  width: auto;
  height: 80px;
}
.grey{
  border: 1px solid antiquewhite;
  background-color: rgb(223, 231, 231);
  width: auto;
  padding: 0 250px 30px 250px;
}
.white{
  background-color: rgb(255, 251, 251);
  padding: 2px;
  margin-top: -50px;   
}
.dp{
  display: flex;
  flex-direction: row;
}
h5.time{
	font-size: 10px;
	padding: 0;
  margin: 0;
  color: rgb(170, 166, 166);
}
h5.msgtext{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 13px; 
  padding: 2px;
  margin: 0;
  color: rgb(63, 59, 59);
}
h4.textdel{
  font-size: 13px;
  color: black;
  padding: 0;
  margin: 0;
}
.rowleft{
  width: 360px;
  padding: 2px;
}
.image{
	width: 45px;
  border-radius: 30px;
  height: 45px;
}
.chatsstyles{
  border-top: 1px solid rgb(189, 179, 179);  
}
.chatspace{
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 0px;
  width: 273px;
}
.searchbox{
  background-color: white;
  border-radius: 3px;
  display: flex;
  padding: 8px;
}
.searchbox >i{
  font-size: 25px;
  color: rgb(211, 204, 204);
}
.searchicon{
  width: 299px;
  height: 21px;
  border: none;
  margin-left: 19px;  
}
.leftside{
  width: 25px;
  height: 2px;
  background-color: rgb(161, 158, 158);
  margin: 2px 0;
  padding: 2px;
}
.menu{
  display: flex;
  border: rgb(248, 243, 243) 1px solid;
  background-color: rgb(226, 222, 222);
  padding: 4px;
  justify-content: space-between;
}
.menuright{
  width: 77px;
  display: flex;
	padding: 2px;
  justify-content: space-between;
}
.chattext{
  width: 400px;  
}
.side{
  display: flex; 
}
.background{
  width: 400px;
  height: 630px; 
}
.textbox{
  background-color: rgb(241, 238, 241);
  width: 400px;
  height: 40px;
}
.chattexts{
  width: 337px;
  padding: 4px;
  margin: 7px;
  background-color: white;
  border-radius: 2px;
  border: white;
}



